<div class="row">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 center">
            <h2>Registration Number:</h2>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <span>eg.(CY 563 264)</span>
            <input style="float:right" type="text" class="regFieldText">
        </div>
        <div class="col-4">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="errorMes" id="error" style="margin: 0px"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <button style="float:left" class="clearBtn">Clear List</button>
            <button style="float:right" class="addBtn">Add</button>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <select id="item1">
                <option value="show all towns">show all towns</option>
            </select>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="container">
        <div class="row">
            <div id="parentElementRegHeadings" class="register">
                <div id="childElement"></div>
            </div>
        </div>
    </div>
</div>