<div class="row">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 center">
            <h2>Registration Number:</h2>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 center">
            <form action="/regdata" method="POST">
                <span>eg.(CY 563 264)</span>
                <input style="float:right" type="text" name="regFieldText">
                <button type="submit" class="addBtn">Add registration number</button>
                <h5 style="color:red; margin:0px">{{messages.error}}</h5>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="/clear" method="POST">
                <button type="submit" class="clearBtn">Clear List</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
    {{!-- <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <select id="item1">
                <option value="show all towns">show all towns</option>
            </select>
        </div>
        <div class="col-4"></div>
    </div> --}}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 register">
            {{#reg_num_list}}
            <h3>{{registration}}</h3>
            {{/reg_num_list}}
        </div>
        <div class="col-3"></div>
    </div>